<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>_button</Title>
			<Shortcut>_button</Shortcut>
			<Description>_button</Description>
			<Author>Hüseyin DEMÝRDÖÐER</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="csharp">
				<![CDATA[

<button class="btn btn-secondary btn-sm" data-bs-toggle="modal"
        data-bs-target="#null">
    <i class="fa fa-plus"></i> Yeni Görev
</button>

	  ]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>