<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>_check_box</Title>
			<Shortcut>_check_box</Shortcut>
			<Description>_check_box</Description>
			<Author>Hüseyin DEMİRDÖĞER</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="csharp">
				<![CDATA[
<div class="col-12">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
    </div>
</div>
	  ]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>