<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>_input_text</Title>
			<Shortcut>_input_text</Shortcut>
			<Description>_input_text</Description>
			<Author>Hüseyin DEMİRDÖĞER</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="csharp">
				<![CDATA[
<div class="col-12">
    <label class="form-label">XXXXXX</label>
    <input class="form-control mb-3" type="text">
</div>
]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>