<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>_meu_tree</Title>
			<Shortcut>_meu_tree</Shortcut>
			<Description>_meu_tree</Description>
			<Author>Hüseyin DEMÝRDÖÐER</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="csharp">
				<![CDATA[
                <li>
                    <a class="has-arrow" href="javascript:;">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>XXX</span>
                    </a>
                    <ul>
                        <li>
                            <a href="xxXxx">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                x
                            </a>
                        </li>
                        <li>
                            <a href="xxXxx">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                xx
                            </a>
                        </li>
                        <li>
                            <a href="xxXxx">
                                <i class="fa fa-address-book-o" aria-hidden="true"></i>
                                xxx
                            </a>
                        </li>
                    </ul>
                </li>
]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>