{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "crlf",
    "htmlWhitespaceSensitivity": "ignore",
    "overrides": [
        {
            "files": "*.cshtml",
            "options": {
                "parser": "html"
            }
        }
    ]
}
