<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- 
    =============================================================================
    DIAGNOSTIC MODE - Web.Config
    Use this temporarily to identify the exact error
    =============================================================================
  -->

	<location path="." inheritInChildApplications="false">
		<system.webServer>

			<handlers>
				<add name="aspNetCore"
					 path="*"
					 verb="*"
					 modules="AspNetCoreModuleV2"
					 resourceType="Unspecified" />
			</handlers>

			<!-- DIAGNOSTIC MODE - Maximum Logging -->
			<aspNetCore processPath=".\web.exe"
						arguments=""
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess"
						startupTimeLimit="300"
						shutdownTimeLimit="30"
						disableStartUpErrorPage="false">
 
				<environmentVariables>
					<!-- CRITICAL: Set to Development for detailed errors -->
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
					<environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
					<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
				</environmentVariables>

				<handlerSettings>
					<handlerSetting name="debugLevel" value="file,module" />
					<handlerSetting name="debugFile" value=".\logs\aspnetcore-debug.log" />
				</handlerSettings>
			</aspNetCore>

			<security>
				<requestFiltering removeServerHeader="false">
					<requestLimits maxAllowedContentLength="134217728" />
				</requestFiltering>
			</security>

			<httpProtocol>
				<customHeaders>
					<remove name="X-Powered-By" />
				</customHeaders>
			</httpProtocol>

			<modules>
				<remove name="WebDAVModule" />
			</modules>

			<defaultDocument enabled="false" />
			<directoryBrowse enabled="false" />

			<!-- SHOW DETAILED ERRORS -->
			<httpErrors existingResponse="PassThrough" errorMode="Detailed" />

		</system.webServer>
	</location>

	<system.web>
		<compilation debug="true" />
		<!-- SHOW DETAILED ERRORS -->
		<customErrors mode="Off" />
	</system.web>

</configuration>